body {
    background-color : rgb(251, 228, 152);
    font: italic;
    margin:0%;
    padding:1% 2%;
}

header {
    /* padding: 1px 1px; */
    display: flex;
   
}
p{
    position: relative;
    bottom: 17px;
    left: 5px;
    width: 90px;
}

#h1 {
    /* display: flex;
    position: relative; */
    margin: 0px;
    padding: 10px 10px;
    width: 470px;
    height: 20px;
    color: black;
    font-size: 20px;
    outline: none; 
    border-radius: 9px;
    border: 1px ;
    box-shadow: 0 0 3px grey;
}

 input  {
    
    /* display: block; */
    padding: 4.5px 0px;
    /* background-color: white; */
    
    width: 470px;
    height: 10px;
    color:black;
    font-size: 16px;
    outline: none; 
    /* border-radius: 5px; */
    border: 0px ;
    box-shadow: 0  1px white;
}
/* input.foc{ */
    /* box-shadow: 0  1px black; */
    /* background-color:grey; */
/* } */
   
* input::before { 
    content: "\A"; 
    white-space: pre-line; 
} 
li * {

    padding: 0%;
    margin: 0%;
    display: inline-block;
    /* float: left; */
}
ul  {
    /* background-color: white; */
    padding: 0px 0px;
    border:0px 0px;
    list-style-type: none;
   }
br{
    background-color: white;
}
* icon {
    display: inline-block;
    background-color: white;
    padding: 1px 2px;
   /* height: 20px; */
   box-shadow: 0  2px white;
}
* input.lc{
    text-decoration: line-through;
}

#onn {
    background-color: rgb(100, 175, 224); 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
#of{
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0.5px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* li input {
    display: none;
}

li.edit span {
    display: none;
}

li.edit input {
    display: initial;
} */